<!-- quiz.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Quiz</title>
  </head>
  <body>
    <%- include('./_header.ejs') %>
    <h1>Create a New Quiz</h1>
    <form action="/quizzes" method="POST">
      <label for="title">Quiz Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>

      <input type="submit" value="Create Quiz" />
    </form>
  </body>
</html>
