<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Quiz</title>
  </head>
  <body>
    <%- include('./_header.ejs') %>
    <h1>Create a New Quiz</h1>
    <form action="/quizzes" method="POST">
      <label for="title">Quiz Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>

      <!-- Question -->
      <label for="questions[0].text">Question:</label>
      <input type="text" id="questions[0].text" name="questions[0].text" required />

      <!-- Choices -->
      <label for="questions[0].choices[0].text">Choice 1:</label>
      <input type="text" id="questions[0].choices[0].text" name="answers[0].q1" required />
      <input type="checkbox" id="questions[0].choices[0].is_correct" name="answers[0].q1">
      <label for="questions[0].choices[0].is_correct">Correct</label>

      <label for="questions[0].choices[1].text">Choice 2:</label>
      <input type="text" id="questions[0].choices[1].text" name="answers[0].q2" required />
      <input type="checkbox" id="questions[0].choices[1].is_correct" name="answers[0].q2">
      <label for="questions[0].choices[1].is_correct">Correct</label>

      <label for="questions[0].choices[2].text">Choice 3:</label>
      <input type="text" id="questions[0].choices[2].text" name="answers[0].q3" required />
      <input type="checkbox" id="questions[0].choices[2].is_correct" name="answers[0].q3">
      <label for="questions[0].choices[2].is_correct">Correct</label>

      <label for="questions[0].choices[3].text">Choice 4:</label>
      <input type="text" id="questions[0].choices[3].text" name="answers[0].q4" required />
      <input type="checkbox" id="questions[0].choices[3].is_correct" name="answers[0].q4">
      <label for="questions[0].choices[3].is_correct">Correct</label>

      <input type="submit" value="Create Quiz" />
    </form>
  </body>
</html>
