.btnPrimary {
  background-color: #3A3637;
  color:rgb(255, 255, 255);
  border-radius: 4.5px;
  font-family: 'Bungee', 'cursive';
  font-size: 0.8em;
  margin-right: 15px;
  margin-bottom: 15px;
  padding: 0.5em;
}

.btnSecondary {
  background-color: #992409;
  color:rgb(255, 255, 255);
  border-radius: 4.5px;
  font-family: 'Bungee', 'cursive';
  font-size: 0.8em;
  margin-top: 15px;
  padding: 0.5em;
}

.btnSecondary:hover {
  color: #ffe100;
  box-shadow: 2px 5px 2px #ffe100;
}

.btnPrimary:hover {
  color: #ffe100;
  box-shadow: 2px 5px 2px #ffe100;
}
