body {
  display:flow-root;
  flex-direction: row;
  justify-content:space-around;
  align-items:stretch;
  min-height: 100vh;
  font-family: 'Bungee', 'cursive';

  background-color: #ffe100;
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");

  main {
    h1{
    margin:10vh 10vw;
    padding: 0.1em;
    border-radius: 25px;
    }
  }
}
