body {
  display:flow-root;
  flex-direction: row;
  justify-content:space-around;
  align-items:stretch;
  min-height: 100vh;
  font-family: 'Bungee', 'cursive';

  background-color: #ffe100;
  background-image: url("https://www.transparenttextures.com/patterns/hexellence.png");

  main {
    h1{
    margin:10vh 10vw;
    padding: 0.1em;
    border-radius: 25px;
    }
  }
  .greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    border-radius: 3px;
    padding: 5px;
    font-family: 'Bungee', 'cursive';
    font-size: 3em;
    white-space: nowrap;
  }
}

.quiz-container {
  /* Your existing styles here */

  cursor: pointer;
  transition: background 0.3s;
}

.quiz-container:hover {
  background: #f0f0f0;
}
