.nav-linkHome {
  color:rgb(0, 0, 0);
  border-radius: 3px;
  padding: 1em;
  font-family: 'Bungee', 'cursive';
  font-size: 1.2em;
  // margin-right: 10px;
  // margin-bottom: 10px;
}

.nav-linkQuizzes {
  color:rgb(0, 0, 0);
  border-radius: 3px;
  padding: 1em;
  font-family: 'Bungee', 'cursive';
  font-size: 1.2em;
  // margin-right: 10px;
  // margin-bottom: 10px;
}

.nav-linkResults {
  color:rgb(0, 0, 0);
  border-radius: 3px;
  padding: 1em;
  font-family: 'Bungee', 'cursive';
  font-size: 1.2em;
  // margin-right: 10px;
  // margin-bottom: 10px;
}
