body {
  main {
    h1 {
      margin: 10vh 10vw;
      padding: 0.1em;
    }
    form {
      margin: 10vh 10vw;
      padding: 0.1em;
      input {
        width: 100%;
        height: 5vh;
        font-size: 600;

      }
      textarea {
        width: 100%;
        height: 20vh;
        font-size: 600;
      }

    }
  }
}
