body main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vh 10vw;
  padding: 0.1em;
  border-radius: 25px;
  color: #000000;
  font-size: 3em;
}
#email {
  font-family: 'Bubblegum Sans', cursive;
  font-weight: 600;
}

#password {
  font-family: 'Bubblegum Sans', cursive;
}

#name {
  font-family: 'Bubblegum Sans', cursive;
  font-weight: 600;
  
}
